body {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1 rem;
}

h1 {
    display: inline;
}

.container {
    display: grid;
}
.cityState {
    justify-self: start;
    padding-left: 100px;
    font-size: 2rem;
}

.temperature {
    justify-self: end;
    padding-right: 100px;
    font-size: 3rem;
}
